<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Gurps!</title>
        <meta name="viewport" content="width=device-width" />
        @RenderSection("styles", required: false)
    </head>

    <body ng-app="app">
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_AuthenticationState")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("GameSessions", "Index", "GameSessions")</li>
                            <li>@Html.ActionLink("Characters", "Index", "Characters")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @@colonaut</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)

    </body>
</html>
